<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>905507105871-1oock6kvfou8v7gtc4j3jr4bse184h8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905507105871-1oock6kvfou8v7gtc4j3jr4bse184h8b</string>
	<key>API_KEY</key>
	<string>AIzaSyA79jKKIjWzsX94q-WFtmaQRQ2bdWGb3UY</string>
	<key>GCM_SENDER_ID</key>
	<string>905507105871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esusslin.chitChat</string>
	<key>PROJECT_ID</key>
	<string>chittychatty-e7534</string>
	<key>STORAGE_BUCKET</key>
	<string>chittychatty-e7534.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:905507105871:ios:ea6afaa9184a0ff6</string>
	<key>DATABASE_URL</key>
	<string>https://chittychatty-e7534.firebaseio.com</string>
</dict>
</plist>